@media screen  and (max-width:834px){
    .navbar-item{
        display:none;
    }
    .navbar{
        height: 80px
    }
    .logo{
        height: 80%;
        margin-left: -50px;
    }
}


@media screen  and (min-width:834px){
    .dropdown {
        display:none;
    }
}



/*--------------- for phone------------- */
@media screen  and (max-width:767px){
    .navbar{
        height: 60px;
    }
    .section1{
        flex-direction: column;
        align-items:flex-start;
        padding-bottom: 2.3rem;

    }
    .intro{
        width: 100%;
        padding-left: 2.5rem;
        padding-top: 7rem;
      }
      .name{
        font-size: 48px;

      }
      .blink{
        font-size: 20px;
      }
      button{
        font-size: 15px;
      }
      .social-icon-li{
        height: 2.5rem;
        width: 2.5rem;
      }
      .social-icon i{
        font-size: 1.3rem;
        padding-top: 0.66rem;
        margin-left: 0.66rem;
      }
      .photo img{
        height: 12rem;
        border-radius: 50%;
        margin-left: 5.5rem;
        margin-top: -8.4rem;
        
      }

}

/* for section2 */
@media screen  and (max-width:767px){
    h2{
        margin-left: 7rem;
        font-size: 30px;
        font-weight: bold;
       }
       
       .card{
        height: 90%;
        width: 270px;
        background-color: rgb(114, 82, 255);
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        border-radius: 12px;
      }
      .sec2-part1{
        width: 100%;
        height: 19rem;
        background-color: #fff;
        align-items: center;
        padding: 0rem 4rem;
        margin: 0;
      }
       
       .section2{
        flex-direction: column;
        margin-bottom: 4rem;
        /* margin: 0;
        padding: 0; */
        height: auto;
        min-height: auto;
       }
       .sec2-part2{
        width: 100%;
        height: 19rem;
        padding: 0rem 4rem;
        margin-right: 2rem;
        
      }
      
      .sec2-part2 h2{
        font-size: 35px;

      }
      .sec2-part2 h4{
        margin-bottom: 0.2rem;
        color: rgb(2, 2, 51);
        
      
      }
      .sec2-part2 p{
        font-size: 14px;
        font-family:serif;
        margin-bottom: 0.5rem;
        margin-left: 0.1rem;
      
      }
      .sec2-part2 h5{
        font-size: 14px;
        margin-bottom: 0.2rem;
      }
      .section3{
        padding: 2rem ;

      }
      h6{
        font-size: 1.8rem;
        

      }
      .skills-container{
        padding-left: 0.5rem;
      
      }
     


}


/* section-4 */
  @media screen  and (max-width:767px){
    .section4{
      padding-bottom: 1rem;
    }
    .section4 h5{
      text-align: center;
      font-size: 30px;
    }
    .sec1{
      display: none;
    }
     
    .contact-area{
      margin: 0.8rem 1rem;
      padding:1.5rem  1rem;
    }
    .form-group input, .form-group textarea {
      width: 18rem;
    }
    .form-groups input, .form-groups textarea {
      width: 18rem;
      height: 7rem;
    }
    .submit{
      width: 8rem;
      font-size: 0.8rem; 
      margin-left: 10rem;
    } 
    .footer-quick-links{
      padding-left: 0rem;

    }
}









 @media screen  and (max-width:767px){
  .footer-desc{
    width: 20rem;
    height: 7rem;
  }
.footer-quick-links{
  height: 12rem;
}
.footer-contact-info{
  width: 20rem;
  height: 12rem;
}

 }

/* *{
  outline:  solid red;
} */

 
